$primarnaboja1: #252222;
$primarnaboja2: #333333;
$bojaslova: #E0E0E0;
$font:"Lato", sans-serif;
$fontsize: (
    "devetnaest":19px,
    "dvadeset":20px,
    "dvadesetpet":25px,
    "stopedeset":150px
);